{% extends 'app/base.html' %}
{% load static %}
{% block title %}Immunity Booster{% endblock title %}

{% block main-content %}
<section id="product1" class="section-p1">
    <h2>Immunity Booster</h2>
    <div class="pro-container">
      {% for product in immunity %}
        <div class="pro">
            <a href="{% url 'product-detail' product.id %}"><img src="{{product.product_image.url}}"  alt=""></a>
            <div class="des">
                <span>{{product.collection}}</span>
                <h5>{{product.title}}</h5>
                <h4>Rs. {{product.selling_price}}</h4>
            </div>
        </div>
        {% endfor %}
      </div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if immunity.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ immunity.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      <span class="page-link">
    {{ immunity.number }}
    </span>
    {% if immunity.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ immunity.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</section>


{% endblock main-content %}